<!DOCTYPE html>
<html>
    <head>
        <title>Cholera Crossing</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.1.3/phaser.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Cholera Crossing</h1>
        <div id="game"></div>
        <script src="/javascripts/game.js"></script>
    </body>
</html>
