<!DOCTYPE html>
<html>
    <head>
        <title>Cholera Crossing</title>
        <script src="/javascripts/phaser.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <!-- <h1>Cholera Crossing</h1> -->
        <div id="game"></div>
        <script src="/javascripts/start.js"></script>
        <script src="/javascripts/end.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/Dialogue.js"></script>
        <script src="/javascripts/DialogueView.js"></script>
        <script src="/javascripts/DialogueState.js"></script>
        <script src="/javascripts/DoctorMinigame.js"></script>
        <script src="/javascripts/DoctorMinigameDialogues.js"></script>
        <script src="/javascripts/GradualText.js"></script>
        <script src="/javascripts/LabelButton.js"></script>
        <script src="/javascripts/map-minigame.js"></script>
        <script src="/javascripts/PlayerData.js"></script>
        <script src="/javascripts/purification-minigame.js"></script>
        <script src="/javascripts/StoryboardScreen.js"></script>
        <script src="/javascripts/VillagePather.js"></script>
        <script src="/javascripts/VillageState.js"></script>

        <script src="/javascripts/game.js"></script>
    </body>
</html>
